/* Paddings */

.wd-search-field-padding {
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.wd-padding-all-around-16 {
    padding: 16px;
}

.wd-padding-all-around-12 {
    padding: 12px;
}

.wd-padding-bottom-16 {
    padding-bottom: 16px;
}

.wd-padding-bottom-12 {
    padding-bottom: 12px;
}

/* Margins */

.wd-margin-left-16 {
    margin-left: 16px;
}

.wd-margin-right-12 {
    margin-right: 12px;
}

.wd-margin-right-16 {
    margin-right: 16px;
}

.wd-margin-top-12 {
    margin-top: 12px;
}

.wd-margin-bottom-12 {
    margin-bottom: 12px;
}

.wd-margin-left-12 {
    margin-left: 12px;
}

.wd-no-margin-top-and-bottom {
    margin-top: 0px;
    margin-bottom: 0px
}

.wd-margin-top-bottom-3 {
    margin-top: 3px;
    margin-bottom: 3px;
}

.wd-margin-bottom-3 {
    margin-bottom: 3px;
}

/* Widths and heights */

.wd-width-80 {
    width: 80%;
}

.wd-width-504 {
    width: 504px;
}

.wd-width-126 {
    width: 126px;
}

.wd-max-width-506 {
    max-width: 506px;
}

.wd-height-10 {
    height: 10px;
}

.wd-height-264 {
    height: 264px;
}

.wd-size-100 {
    width: 100px;
    height: 100px;
}

.wd-height-100 {
    height: 100px;
}

/* background */

.wd-bg-color-black {
    background-color: black;
}

.wd-bg-color-search-field {
    background-color: rgb(47, 51, 54);
}

.wd-bg-color-dark-gray {
    background-color: #131313;
}

/* borders */

.wd-no-border {
    border: none;
}

.wd-border-solid {
    border-style: solid;
}

.wd-bottom-border-solid {
    border-bottom-style: solid;
}

.wd-border-width-1 {
    border-width: 1px;
}

.wd-border-width-3 {
    border-width: 3px;
}

.wd-border-color {
    border-color: rgb(47, 51, 54);
}

.wd-bottom-border-color-highlight {
    border-bottom-color: rgb(29, 161, 242);
}

/* colors */

.wd-color-white {
    color: white;
}

.wd-color-red {
    color: red;
}

.wd-color-highlight {
    color: rgb(29, 161, 242);
}

.wd-color-light-grey {
    color: rgb(110, 118, 125);
}

/* Rounded corners */

.wd-rounded-corners-all-around-10 {
    border-radius: 10px;
}

.wd-rounded-corners-top-10 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.wd-rounded-corners-all-around-30 {
    border-radius: 30px;
}

.wd-border-width-1 {
    border-width: 1px;
}

/* Float and grid */

.wd-float-left {
    float: left;
}

.wd-float-right {
    float: right;
}

.wd-grid-row {
    clear: both;
}

/* Font */

.wd-font-size-13 {
    font-size: 13px;
}

.wd-font-size-15 {
    font-size: 15px;
}

.wd-font-size-20 {
    font-size: 20px;
}

.wd-icon-size {
    font-size: 35px;
}

.wd-bold {
    font-weight: bold;
}

/* Text */

.wd-no-text-decoration {
    text-decoration: none;
}

.wd-center {
    text-align: center;
}

/* Images */

.wd-crop-image {
    object-fit: cover;
}

.wd-radius-24 {
    width: 48px;
    height: 48px;
    border-radius: 24px;
}
